/* Common Style */
/* header */


.page-header {
  height: 190vh;
  max-height: 1650px;
  padding-top: 22px;
  /* color: rgb(0, 0, 0); */
  position: relative;
  background-position: center center;
  background-size: cover;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: bottom ;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.page-header .container > .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  color: #FFFFFF;
  width: 100%;
  max-width: 880px;
}

.page-header .category,
.page-header .description {
  color: rgb(30 10 10 / 50%);
}

.page-header.page-header-small {
  height: 970vh;
  max-height: 670px;
}
@media  (min-width:768px) and (max-width:1440px){
  .page-header.page-header-small {
    height: 270vh;
    max-height: 270px;
  }
}
.page-header:after, .page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.page-header:before {
  background-color: rgba(0, 0, 0, 0.096);
}

.page-header[filter-color="orange"] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0.2)), to(rgba(224, 23, 3, 0.6)));
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* Standard syntax */
}

.page-header .container {
  z-index: 2;
}


.section {
    padding-bottom: 0;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    font-family: "Roboto Slab",serif;
  }
  
  
  .dev-icons {
    font-size: 6rem;
    margin-top: 22px;
      margin-bottom: 22px;
  }
  
  .list-inline {
    padding-left: 0;
    list-style: none;
    text-align: center;
  }
  .list-inline-item:not(:last-child) {
    margin-right: .5rem;
  }
  .list-inline-item {
    display: inline-block;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  ul {
     margin-top: 0;
     margin-bottom: 0.1rem;
     display: block;
     list-style-type: disc;
     /* margin-block-start: 1em; */
     /* margin-block-end:2em; */
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     padding-inline-start: 90px;
  }
  
  .education-main{
    background-color: white;
    width: 100vw;
    min-width: 100vh;
    font-size: 12px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  button {
    background-color: white;
    border: none;
    text-align: left;
    font: inherit;
    padding: 0;
    cursor: pointer;
    color: inherit;
  }
  button:focus {
    /* color: hsl(14, 59%, 33%); */
    outline: none;
  }
  .questions-active {
    font-weight: 700;
    color:rgb(223 92 52)
  }
  .active {
    height: auto;
    max-height: 100px; 
    opacity: 1;
    padding-bottom: 2em;    
  }  
  .arrow-active {
    transform: rotate(760deg);
    
  }
  
  .arrow-active:hover {
    transform: scale(4.2);
    /* transform: rotate(310deg); */
  }
  
  #main-container {
    position: relative;
    width: 80%;
    max-width: 920px;
    min-height: 505px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #card-container{
    position: relative;
    width: 100%;
    min-height: 505px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-top: 133px
  }
  
  #illustration {
    color: #FFFFFF;
    width: 50%;
    min-height: 100%;
    height: 100%;  
  }
  
  #illustration-woman-container {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
  }
  
  #bg-pattern {
    position: absolute;
    left: -580px;
    top: 30%;
    transform: translateY(-50%);
  }
  
  #illustration-woman {
    position: absolute;
    top: 50%;
    left: -85px;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  
  #box {
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    left: -95px;
    z-index: 3;
  }
  
  #fqa{
    margin-top: 3em;
    margin-bottom: 3em;
   
  
  }
  .card-panel{
    width: 70%;
    height: 100%;
  }
  section{ display: block;}
  #title{font-size: 2.3em;font-weight: 700;/* text-align: center; */margin-left: 12px;}
  
  
  
  
  @media screen and (max-width: 1100px) {
    .questions-container {
      margin-right: 1em;
      margin-left: 5em;
      margin-bottom: 5;
    }
  
    #title {
      margin-left: 2em;
    }
  }
  
  @media screen and (max-width: 900px) {
  
    #main-container {
      min-width: 325px;
      max-width: 325px;
      min-height: 580px;
      margin-right: 392px;
      margin-left: 120px;
    }
    #card-container {
      margin-top: 200px;
      flex-direction: column;
      min-height: 100%;    
      overflow: visible;
      padding-bottom: 20px;
    }
  
    .card-panel {
      width: 100%;
    }
  
    #illustration-woman-container {
      position: absolute;
      height: 50%;
      width: 100%;
      overflow: visible;
    }
  
    #title {
      text-align: center;
      margin: 20px 0;
    }
  
    #illustration-woman {
      width: 70%;
      top: -105px;
      left: 50%;
      transform: translateX(-50%);    
    }
  
    #box {
      width: 30%;
      top: 0;
      left: 38px;
    }
  
    #bg-pattern {
      width: 70%;
      top: -125px;
      left: 50%;
      transform: translateX(-50%);   
    }
  
    #illustration {
      height: 30%;
    }
  
    #faq {
      margin-top: 100px;
      overflow: hidden;
    }
  
    .questions-container {
      margin: 0 1.5em 0 1em;
    }
    .questions-container:hover {
        color:black;
      } 
    #faq-container {
      min-height: 80%;
    }  
  
    .active-p{
    height: auto;
    max-height: 100px;
    opacity: 1;
    padding-bottom: 15em;
    font-size: 11px;
  
    } 
     .answers{
        margin: 0;
        height: 0;
        max-height: 0;
        opacity: 0;
        line-height: 1.4em;
        transition: max-height 0.5s ease-out, opacity 0.2s;
        margin-left: 22px;
        font-size: 11px;
    }
    .attribution {
      margin-top: 15vh;
    }
  }
  
  
  
  .questions-container{
    border-bottom: 1px solid black;
    margin-right: 8.5em;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  
  }
  .answers{
    margin: 0;
    height: 0;
    max-height: 0;  
    opacity: 0;
    line-height: 2.5em;
    transition: max-height 0.5s ease-out, opacity 0.2s;  
    margin-left: 22px;
    font-size: 13px;
    
  }
  .questions{
    margin: 20px;
    font-size: 1.2em;
    font-weight: 400;
    transform: all 0.4s;
  }
  .arrow{
    cursor: pointer;
    position: absolute;
    top: 2em;
    right: 1em;
    transition: transform 0.5s;
   
    
  }
  .active-h4{
    height: auto;
    max-height: 100px; 
    opacity: 1;
    margin-top:0;
    padding-bottom: 0.5em; 
  }
  .active-p{
    height: auto;
    max-height: 100px; 
    opacity: 1;
    padding-top:0;
    
    margin-bottom: 5.9em;    
  }



.first-container{
    /* background: rgb(206, 216, 211); */
    /* background: linear-gradient(0deg, rgb(26, 20, 71) 0%, rgb(255, 255, 255) 100%); */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height: 100%;
    width: 100%;;
    /* background: linear-gradient(40deg
        , hsl(264, 19%, 89%), hsl(300, 6%, 20%) );
            box-shadow: 11px 1px 1px 0 hsl(0deg 0% 0% / 15%); */
}

.phone_container{
    height: 460px;
    width: 300px;
    background-color:hsl(270, 20%, 96%) ;
    border-radius: 25px;
    position: relative;
    border: 8px solid white;
    /* box-shadow: 5px 20px 30px 5px hsl(0deg 0% 0% / 18%); */
    /* flex-shrink: 0; */
}
.booking{
    margin-left: 220px;
    }

    
.left-geo{
    position: absolute;
    top: 0;
    right: 74%;
    z-index: -10;
    width: 350px;
    height: 700px;
    background: linear-gradient(
30deg
, rgb(223, 92, 52), 80%, hsl(293, 100%, 63%));
    border-radius: 0% 0% 70% 80%;
}
.right-geo{
    position: absolute;
    top: 12%;
    left: 74%;
    z-index: -10;
    width: 250px;
    height: 600px;
    background: linear-gradient(
30deg
, rgba(241, 124, 88, 0.849) 0%, rgba(249, 244, 250, 1) 51%, rgb(251, 250, 252) 100%);
}